<div style="height: 100vh;background-color:rgba(0,0,0,0.35); position:absolute; width:100%"></div>
<div class="navbar" style="position: absolute; width: 100%; display: flex; justify-content: flex-end;">
    <ul class="list-unstyled d-flex mt-3 mr-3">
        <li><a pageScroll href="/" title="">Home</a></li>
        <li><a pageScroll href="#Bio" title="">About me</a></li>
        <li><a pageScroll href="#Skills" title="">Habilities</a></li>
        <li><a pageScroll href="#Formation" title="">Formation</a></li>
        <li><a pageScroll href="#Career" title="">Career</a></li>
        <li><a pageScroll href="" title="">Projects</a></li>
        <li><a pageScroll href="" title="">Contact</a></li>
    </ul>
</div>
<div id="Banner" style="height: 100vh;background-image: url('../assets/img/dev.png'); background-attachment:fixed; background-repeat:no-repeat; background-size:cover">
    <div class="middle-text text-center">
        <h4>Welcome to my personal WebSite</h4>
        <h6>Let´s dig into my life</h6>
        <a pageScroll  href="#Bio">
            <figure>
                <img class="arrow" src="../../assets/img/Arrow 1.png">
            </figure>
        </a>    
    </div>
</div>
