<div id="Bio" class="mb-5">
    <div class="row">
        <div class="col-md-8">
            <h4>My Bio</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et turpis eu velit euismod accumsan. Donec sit amet sodales lectus. Sed tincidunt elementum orci, ac sagittis sem ultricies non. Etiam vel condimentum libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam odio erat, posuere nec massa eget, mollis dictum turpis. In pretium velit nibh, eu imperdiet tellus vulputate eu. </p>
        </div>
        <div class="col-md-4">
            <figure >
                <img class="img.circle" src="../../assets/img/img_curriculo.png"> 
            </figure>
        </div>
    </div>
</div>
