<div id="Career" class="pt-5 pb-5">
    <div class="container">
        <h4 class="text-center">Career</h4>
        <div class="row m-0">
            <div class="col-md-8">
              <mat-carousel
              timings="200ms ease-in"
              [autoplay]="true"
              interval="6000"
              color="accent"
              maxWidth="auto"
              proportion="25"
              slides="5"
              [loop]="true"
              [hideArrows]="false"
              [hideIndicators]="true"
              [useKeyboard]="true"
              [useMouseWheel]="false"
              orientation="ltr"
            >
              <mat-carousel-slide
                #matCarouselSlide
                *ngFor="let slide of slides; let i = index"
                [image]="slide.image"
                
                [hideOverlay]="true"
              >
              <div *ngFor="let slideText of slidesText; let i = index"
              style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center" >
              <p>{{ slideText }}</p>
            </div></mat-carousel-slide>
            </mat-carousel>
            </div>
            <div class="col-md-4">
              <mat-slider thumbLabel tickInterval="1000" min="2018" max="2020"></mat-slider>
            </div>
        </div>
    </div>
</div>

