<div id="Formation" class="pt-5">
    <div class="container">
    <h4 class="text-center">main formation</h4>
    <div class="text-center mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="college_detail">
                    <h6>High Scholl</h6>
                    <p>Colégio Espirito Santo - Tatuapé - Brasil</p>
                    <p>2012 - 2016 (5 years)</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="college_detail">
                    <h6>University</h6>
                    <p>Universidade da Beira Interior - Covilhã - Portugal</p>
                    <a title="Course Plan" target="blank" href="https://www.ubi.pt/PlanoDeEstudos/42/1638/2020">Course: Degree in Computer Science</a>
                    <p>2017 - 2021 (4 years)</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="horizontal-separator mt-5">
    <div class="text-center mt-5">
        <h4 class="text-center">Secondary formation</h4>
        <div class="row mt-5">
            <div class="col-md-6 mb-5">
                <div class="college_detail">
                    <h6>Course</h6>
                    <p>MICROCAMP - Tatuapé - Brasil</p>
                    <p>Course: Informatic course in hardware and software</p>
                    <p>2013 - 2015 (2 yeas)</p>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="college_detail">
                    <h6>Course</h6>
                    <p>Cybsersec - Lisbon - Portugal</p>
                    <p>Course: Cybersecurity course, ethical hacking</p>
                    <p>2013 - 2015 (2 yeas)</p>
                </div>
            </div>

            <div class="col-md-6 mb-5">
                <div class="college_detail">
                    <h6>Course</h6>
                    <p>Udemy</p>
                    <p>Web development with ASP.NET MCV 5</p>    
                </div>
            </div>
        </div>
        </div>
        
   
</div>
</div>